.loader-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .6);
  z-index: 2;
  backdrop-filter: blur(5px);

  .loader-container {
    display: flex;
    justify-content: center;

    .loader {
      position: absolute;
      top: 35%;

      h1 {
        width: 150px;
      }

      .circular {
        $border-props: 10px solid;
        border: $border-props #eee;
        border-radius: 50%;
        border-top: $border-props #3498db;
        width: 100px;
        height: 100px;
        animation: spin 1s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
