<footer>
  <div class="social-media-container">
    <h2>Stay up to date on what I'm doing!</h2>

    <ul>
      <li>
        <a href="https://www.youtube.com/codingtutorials360" target="blank">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/groups/190277791450732/" target="blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/PizzaPokerGuy" target="blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/dylan310/" target="blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>

  <p class="copy-right">
    {{year}} — Dylan Israel Inc.
  </p>
</footer>
