@import 'src/styles';

footer {
  .social-media-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: $blue;
    color: white;
    padding: 10px;

    @media screen and (max-width: $tablet) {
      text-align: center;
      grid-template-columns: 1fr;
    }

    ul {
      list-style: none;
      display: grid;
      grid-gap: 20px;
      grid-auto-flow: column;
      justify-items: center;

      li {
        font-size: 2em;
        padding: 6px;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        display: grid;
        justify-content: center;
        align-content: center;
        transition: all 0.3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .copy-right {
    background-color: $tertiary-background;
    padding: 5px;
    text-align: center;
    color: white;
  }
}
