@import 'src/styles';

.loader {
  position: relative;
  background-color: $light-grey;
  opacity: 0.75;
  border-radius: 5px;
  margin-bottom: 5px;
  min-height: 50px;
  overflow: hidden;

  &::after {
    @keyframes loading {
      100% {
        transform: translateX(100%);
      }
    }

    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);

    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: loading 1.5s infinite;
  }
}
