@import 'src/styles';



.email-form-container {
  display: grid;
  grid-gap: 10px;

  .email-container {
    .form-container {
      padding: 10px;

      h2 {
        color: $blue;
      }

      .email-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'name email'
          'message message'
          '. submit';
        grid-gap: 20px;

        input[type=text],
        input[type=email],
        textarea {
          padding-left: 33px;
        }

        .error {
          font-size: 0.75em;
          color: $red;
        }

        .name {
          grid-area: name;

          &.error {
            border-left: 5px solid $red;
          }
        }

        .email {
          grid-area: email;

          &.error {
            border-left: 5px solid $red;
          }
        }

        .message {
          grid-area: message;
          position: relative;

          i {
            position: absolute;
            top: 20px;
            left: 18px;
            transform: translate(-50%, -50%);
          }
        }

        .name,
        .email {
          position: relative;

          i {
            position: absolute;
            top: 50%;
            left: 18px;
            transform: translate(-50%, -50%);
          }
        }

        input,
        textarea {
          &:focus {
            &+i {
              transition: all 0.3s;
              color: $blue;
            }
          }
        }

        button {
          grid-area: submit;
          border: 1px solid $blue;
          background-color: white;
          padding: 10px 40px;
          justify-self: end;
        }
      }
    }
  }
}
