.modal-container {
  z-index: 3;
  display: grid;
  position: fixed;
  min-width: 250px;
  max-height: 100vh;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  top: 5%;
  left: 50%;
  transform: translate(-50%, 5%);
  padding: 20px;
  grid-gap: 10px;
  transition: display .3s;

  .modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &.is-hidden {
    display: none;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 2;
  transition: opacity .3s;

  &.is-hidden {
    z-index: -1;
    opacity: 0;
  }
}
