$green: #40c980;
$blue: #007acc;
$black: #1e1e1e;
$light-grey: #929293;
$orange: #c97e5a;
$yellow: #e5e510;
$red: #ff6058;

$background-color: #252525;
$secondary-background: #2b2b2b;
$tertiary-background: #393939;
$quaternary-background: #232323;
