@import 'src/styles';

.ribbon {
  width: 200px;
  padding: 16px;
  position: fixed;
  text-align: center;
  color: white;
  z-index: 20;

  &.top-right {
    top: 25px;
    right: -50px;
    transform: rotate(45deg);
  }

  &.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
  }

  &.bottom-left {
    left: -50px;
    bottom: 25px;
    transform: rotate(45deg);
  }

  &.bottom-right {
    right: -50px;
    bottom: 25px;
    transform: rotate(-45deg);
  }

  &.success {
    background-color: $green;
  }

  &.info {
    background-color: $blue;
  }

  &.error {
    background-color: $red;
  }

  &.warning {
    background-color: $orange;
  }
}
