.social-media-bar-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 3;

  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: all 0.3s;
    font-size: 20px;
    text-align: center;

    &.facebook {
      background-color: #3B5998;
    }

    &.instagram {
      background-color: #C13584;
    }

    &.twitter {
      background-color: #1DA1F2;
    }

    &.linked-in {
      background-color: #0e76a8;
    }

    &.you-tube {
      background-color: #c4302b;
    }

    &:hover {
      background-color: black;
    }
  }
}
