<div class="social-media-bar-container">
  <ng-container *ngFor="let media of socialMedia">
    <ng-container [ngSwitch]="media.type">
      <a *ngSwitchCase="SocialMedia.Facebook" [href]="media.href" target="blank" class="facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a *ngSwitchCase="SocialMedia.Instagram" [href]="media.href" target="blank" class="instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a *ngSwitchCase="SocialMedia.LinkedIn" [href]="media.href" target="blank" class="linked-in">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a *ngSwitchCase="SocialMedia.Twitter" [href]="media.href" target="blank" class="twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a *ngSwitchCase="SocialMedia.YouTube" [href]="media.href" target="blank" class="you-tube">
        <i class="fab fa-youtube"></i>
      </a>
    </ng-container>
  </ng-container>
</div>
