<div class="password-container">
  <div class="password">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password" #passwordInput="ngModel">
  </div>

  <div class="password-strength">
    <progress [value]="value" [max]="100"></progress>
  </div>

  <div class="password-hints" *ngIf="value !== 100 && passwordInput.touched">
    <ul>
      <li>Min Length of 8 Required.</li>
      <li>One or More Capital Letter Required.</li>
      <li>One or More Number Required.</li>
      <li>One or More Special Characters Required.</li>
    </ul>
  </div>

</div>
