@import 'src/styles';

.password-container {
  display: grid;
  grid-gap: 5px;

  .password-strength {
    progress {
      width: 100%;
      height: 15px;
      background-color: #eee;

      &::-webkit-progress-bar,
      &::-webkit-progress-value {
        border-radius: 20px;
      }

    }

    progress[value^="25"]::-webkit-progress-value {
      background-color: $red;
      transition: all 1s;
    }

    progress[value^="50"]::-webkit-progress-value {
      background-color: $yellow;
      transition: all 1s;
    }

    progress[value^="75"]::-webkit-progress-value {
      background-color: $yellow;
      transition: all 1s;
    }
  }

  .password-hints {
    ul {
      color: $red;
      list-style: none;
    }
  }
}
