<div class="password-container">
  <div class="password">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password" #passwordInput="ngModel">
  </div>

  <div class="password-strength">
    <progress [value]="passwordStrengthPercent" [max]="100"></progress>
  </div>

  <div class="password-hints" *ngIf="passwordInput.touched">
    <ul>
      <li *ngIf="!is8CharactersOrGreater">Min Length of 8 Required.</li>
      <li *ngIf="!hasOneCapitalLetterOrMore">One or More Capital Letter Required.</li>
      <li *ngIf="!hasOneNumberOrMore">One or More Number Required.</li>
      <li *ngIf="!hasOneSpecialCharacterOrMore">One or More Special Characters Required.</li>
    </ul>
  </div>
</div>
