<app-toolbar [title]="'100 Angular Challenge'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-toolbar>

<!-- TEMPORARY COMPONENTS START -->
<app-card [title]="'Accordion'" [subTitle]="'Components'">
  <app-accordion body [accordionItems]="accordionItems"></app-accordion>
</app-card>

<app-card [title]="'Card'" [subTitle]="'Components'" [iconClasses]="'fas fa-info-circle'">

  <p body>Body Content</p>
  <p footer>Footer Content</p>
</app-card>

<!-- TEMPORARY COMPONENTS END -->
