<app-toolbar [title]="'100 Angular Challenge'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-toolbar>

<main>
  <app-card [iconClasses]="'fas fa-info-circle'" [title]="'Accordion'" [subTitle]="'Components'">
    <app-accordion body [items]="accordionItems"></app-accordion>
  </app-card>

  <app-card [iconClasses]="'fas fa-info-circle'" [title]="'Card'" [subTitle]="'Components'">
    <p footer>Footer Content</p>
    <p body>Body Content</p>
  </app-card>
</main>
