@import 'src/styles';

.not-found-container {
  display: grid;
  grid-gap: 20px;
  text-align: center;
  height: 75vh;
  align-content: center;

  h1 {
    color: $blue;
    text-transform: uppercase;
  }

  i {
    color: $blue;
    font-size: 5em;
  }
}
