@import '../../../styles';

.tabs {
  display: flex;
  margin-bottom: 10px;

  .tab {
    cursor: pointer;
    margin-right: 10px;
    padding: 2px;
    text-align: center;
    border-bottom: 2px solid transparent;

    &.active {
      transition: all 0.3s;
      border-bottom: 2px solid $blue;
      $blue: #007acc;
    }
  }
}
