@import 'src/styles';

.snackbar-container {
  visibility: hidden;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 15px;
  position: fixed;
  font-size: 15px;
  z-index: 1;

  @keyframes fadeUp {
    from {
      bottom: 0;
      opacity: 0;
    }

    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadeDown {
    from {
      bottom: 30px;
      opacity: 1;
    }

    to {
      bottom: 0;
      opacity: 0;
    }
  }

  &.show {
    visibility: visible;
    animation: fadeUp 0.5s, fadeDown 0.5s 2.5s;
  }
}
