.overlay-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 25;
  opacity: 1;
  transition: opacity 0.3s;

  &.is-hidden {
    z-index: -1;
    opacity: 0;
  }
}
